.divMenu{
    width: 60%;
    height: 100vh;

    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 70px;

    background-color: var(--cor-terciaria);
    z-index: 2;
}
.ulMenu{
    width: 100%;
    height: auto;
}
.liMenu{
    width: 100%;
    height: auto;
    
    padding:20px 30px;
    
    font-size: 17px;
    font-weight: 500;
    list-style: none;
}
.liMenu:active, .liMenu:hover{
    background-color: var(--cor-quaternaria);
}
.divBackgroundMenu{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000090;
    height: 100vh;
    width:40% ;
    z-index: 2;
}
.linkMenu{
    text-decoration: none;
    color: var(--cor-primaria);
}
