.alturaCriarPublicacaoDivPrincipal{
    height: 100vh;
}
.opcoespublicacao{
    width: 80%;
    height: 40px;

    position: absolute;
    top: 80px;

    display: flex;
    border: 1px solid #455fa3;
    border-right: none;
}
.buttonOpcaoPublicacao{
    width: 33.3%;
    height: 100%;

    background-color: #fff;
    color: #455fa3;

    border: none;
    border-right: 1px solid #455fa3
}
.buttonOpcaoPublicacaoSelecionado{
    background-color: #455fa3;
    color: #fff;
    outline: 1px solid #455fa3;
    
    z-index: 1;
    position: relative;
}
.shadowEsquerda{
    box-shadow: -2px 0px 5px #00000090;
  }
.shadowDireita{
    box-shadow: 2px 0px 5px #00000090;
}
.shadowDuplo{
    box-shadow: 2px 0 5px #00000090, -2px 0 5px #00000090;
}
.divLegendaTipoPublicacao{
    position: absolute;
    top: 50px;

    display: flex;
    justify-content: center;
    color: #455FA3;
    margin-bottom: 5px;
}

.divCriarPublicacao{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.divCriarPublicacaoSecao{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.labelCriarPublicacaoSecao{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    color: #455FA3;
    margin-right: 10px;
    text-align: center; 
}
.inputCrairPublicacaoSecao{
    width: 60%;
    width: 100%;
    height: 40px;

    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #455FA3;
    box-shadow: 0px -1px 8px #00000033;
}
.valorCinza{
    color: gray;
}
.valorPreto {
    color: black; /* Cor do texto quando uma opção válida for selecionada */
}
.posicaoLabelDescricao{
    justify-content: start;
}
.alturaInputDescricao{
    height: auto;
}

.divPublicar{
    position: absolute;
    bottom: 130px;
}