.alturaPaginaInicialDivPrincipal{
    height:auto;
}
.opcoesConteudo{
    width: 90%;
    height: 50px;

    position: absolute;
    top: 80px;
    display: flex;

    border: 1px solid var(--cor-primaria);
    border-right: none;
}
.buttonOpcaoConteudo{
    width: 25%;
    height: 100%;

    font-size: 14px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: none;
    border-right: 1px solid var(--cor-primaria)
}
.buttonOpcaoConteudoSelecionado{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    outline: 1px solid var(--cor-primaria);
    
    z-index: 1;
    position: relative;
}
.shadowEsquerda{
    box-shadow: -2px 0px 5px #00000090;
  }
.shadowDireita{
    box-shadow: 2px 0px 5px #00000090;
}
.shadowDuplo{
    box-shadow: 2px 0 5px #00000090, -2px 0 5px #00000090;
}
.divPaginaInicial{
    width: 90%;
    height: auto;

    margin-top: 120px;
    margin-bottom: 20px;

    background-color: transparent;
}
.divPublicacao{
    padding: 10px;
    margin-top: 20px;

    background-color: var(--cor-terciaria);
    box-shadow: 1px 1px 2px #00000040;
    
    display: flex;
    flex-direction: column;

}
.divCabecalhoPublicacao{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.divCabecalhoUsuarioPublicacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgUsuarioPublicacao{
    width: 30px;
    height: 30px;

}
.divUsuarioPublicacao{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.pUsuarioPublicacao{
    font-weight: 650;
    color: var(--cor-primaria);
}
.pSituacaoUsuarioPublicacao{
    font-size: 14px !important;
    font-weight: 100;
    color: #1b6977c9;
}
.dataPublicacao{
    font-size: 14px;
    color: #555555;
}
.divConteudoPublicacao{
    display: flex;
    flex-direction: column;
}
.divCabecalhoConteudoPublicacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pCategoria{
    font-size: 18px;
    line-height: 35px;
    margin-top: 5px;
    color: var(--cor-quaternaria);
}
.divConteudoPrincipalPublicacao1{
    display: flex;
    flex-direction: column;

    padding: 5px;
}
.pTituloPublicacao{
    font-weight: 650;
    color: #3B3B3B;

}
.pDescricaoPublicacao{
    margin-top: 10px;
    color: #3B3B3B;
}