.alturaPaginaInicialDivPrincipal{
    height:auto;
}
.opcoesConteudo{
    width: 80%;
    height: 40px;

    position: absolute;
    top: 80px;

    border: 1px solid #455fa3;
    border-right: none;
}
.buttonOpcaoConteudo{
    width: 33.3%;
    height: 100%;

    background-color: #fff;
    color: #455fa3;

    border: none;
    border-right: 1px solid #455fa3
}
.buttonOpcaoConteudoSelecionado{
    background-color: #455fa3;
    color: #fff;
    outline: 1px solid #455fa3;
    
    z-index: 1;
    position: relative;
}
.shadowEsquerda{
    box-shadow: -2px 0px 5px #00000090;
  }
.shadowDireita{
    box-shadow: 2px 0px 5px #00000090;
}
.shadowDuplo{
    box-shadow: 2px 0 5px #00000090, -2px 0 5px #00000090;
}
.divPaginaInicial{
    width: 95%;
    height: auto;

    margin-top: 120px;
    margin-bottom: 20px;

    background-color: transparent;
}
.divPublicacao{
    padding: 10px;
    margin-top: 20px;

    background-color: #fff;
    
    display: flex;
    flex-direction: column;

}
.divCabecalhoPublicacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.usuarioPublicacao{
    font-weight: 600;
}
.dataPublicacao{
    color: gray;
}
.divConteudoPublicacao{
    display: flex;
    flex-direction: column;

}
.divCabecalhoConteudoPublicacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.divConteudo1{
    display: flex;
    flex-direction: column;

    border:1px solid #c0c0c0;

    margin-top: 10px;
    padding: 5px;
}