*{
  background-color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.divPrincipal{
  width: 100vw;
  height: 100vh;
}

.divLogin{
  border: 1px solid black;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.divImgLogo{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  color: #000;
}
.divH1Login{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color:#000;
  text-align: center;
  height: 10%;
}

.divInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: #000;
  height: 50%;
  margin: 0;
  width: 100%;
}
.divConteudoInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;

}
.divInputLogin{
  display: flex;
  flex-direction: column;
}
.divInputSenha{
  display: flex;
  flex-direction: column;
}
.divButtonEntrar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}
.buttonEntrar{
  display: flex;
  width: 30%;
}