.alturaLogin{
  height: 60%;
}
.divInputs{
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}
.divInputLogin{
  width: 70%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divInputSenha{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.divInputVerSenha{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.div1InputSenha{
  width: 15%;
}
.div2InputSenha{
  width: 70%;
}
.div3InputSenha{
  width: 15%; 
  padding-top: 8px; 
}
.iconeVerSenha{
  width: 20px;
  height: 20px;
  color: #455FA3;
  z-index: 3;
  margin-left: -25px;

}
.h5Senha{
  display: flex;
  justify-content: center;
}
.h5Senha a{
  font-size: 11px;
  color: #455FA3;
  text-decoration: underline;
}
.divButtonEntrar{
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

}
.divButtonCadastrar{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.buttonCadastrar a{
  text-decoration: none;
  background-color: inherit;
  color: #fff;
}
.labelCadastrar{
  background-color: transparent;
  color:#455FA3  ;
}
.aCadastrar{
  background-color: inherit;
  text-decoration: none;
}
.novaAltura{
  height: 25% !important;
}