.alturaLogin{
  height: 60%;
  justify-content: space-between;
}
.divInputs{
  width: 100%;
  height: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.divInputLogin{
  width: 70%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divInputSenha{
  width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.div2InputSenha{
  width: 100%;
}
.div3InputSenha{
  width: 0; 
  padding-top: 8px; 
}
.iconeVerSenha{
  width: 20px;
  height: 20px;

  color: var(--cor-primaria);
  z-index: 1;
  margin-left: -25px;
}
.h5Senha{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.h5Senha a{
  font-size: 11px;
  color: var(--cor-primaria);
  text-decoration: underline;
}
.divEntrar{
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divButtonEntrar{
  width: 40%;
}
.divButtonCadastrar{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.buttonCadastrar a{
  text-decoration: none;
  background-color: inherit;
  color: #fff;
}
.labelCadastrar{
  background-color: transparent;
  color:var(--cor-primaria)  ;
}
.aCadastrar{
  background-color: inherit;
  text-decoration: none;
}
.novaAltura{
  height: 25% !important;
}